.peculiarities {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 158px;
}

@media (max-width: 850px) {
    .peculiarities {
        padding-bottom: 60px;
    }
}