.peculiarities__text-container {
    padding-left: 73px;
    padding-right: 26px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../images/peculiaritiesItemBack.png');
}

@media (max-width: 1024px) {
    .peculiarities__text-container {
        padding-left: 80px;
        background-image: url('../../../images/peculiaritiesItemBack1024.svg');
    }

    .peculiarities__item:nth-of-type(2)>.peculiarities__text-container,
    .peculiarities__item:nth-of-type(3)>.peculiarities__text-container {
        background-image: url('../../../images/peculiarities1024_small.svg');
    }
}

@media (max-width: 768px) {
    .peculiarities__text-container {
        padding-left: 54px;
        padding-right: 0;
    }
}