.peculiarities__item {
    width: var(--peculiarities-item-width);
    position: relative;
    margin-bottom: 70px;
    background-repeat: no-repeat;
}

.peculiarities__item::before {
    position: absolute;
    width: 832px;
    height: 35px;
    bottom: 3px;
    left: 47px;
    z-index: -3;
    content: '';
    background: #C82657;
    border-radius: 10px;
}

.peculiarities__item:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .peculiarities__item::before {
        width: 764px;
        height: 30px;
        left: 29px;
        bottom: 3px;
    }
    .peculiarities__item:nth-of-type(2)::before,
    .peculiarities__item:nth-of-type(3)::before {
        bottom: 5px;
    }
}

@media (max-width: 850px) {
    .peculiarities__item::before {
        width: 630px;
        bottom: 10px;
        height: 30px;

    }
    .peculiarities__item:nth-of-type(2)::before,
    .peculiarities__item:nth-of-type(3)::before {
        bottom: 10px;
    }
}


@media (max-width: 768px) {
 
}